@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    text-align: center;
    font-size: 50px;
}

.semi{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 1400px;
    border-radius: 350px 350px 0 0;
    border: 1px dashed gray;
    border-bottom-color: transparent;
}

.NFT{
    display: block;
    margin-left: 45%;
}

#wallet{
   margin-left: 7%;
   margin-top: 20%;
    float: left;
}

#grow{
    margin-top: 20%;
    margin-right: 7%;
    float: right;
}