@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #F9F8F8;
}

html[data-theme="dark"] {
    background: #0E0C20;
}

body {
    background: linear-gradient(rgba(72, 64, 205, 0.3), rgba(158, 156, 156, 0));
    @apply font-nunito cursor-default;
}

[data-theme="dark"] body {
    background: linear-gradient(rgba(16, 0, 163, 0.3), rgba(14, 12, 32, 0));
}

h1 {
  text-align: center;
  font-size: 50px;
}


.section2Size {
    height: 900px;
    background-color: whitesmoke
  }
  
  .modalSize {
    height: 500px;
    width: 340px;
    background-color: white;
  }
  
  .modalText {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
  }
  
  .modalSize:hover {
    background-color: #CCCAF0;
  }
  
  .balanceDiv {
    height: 40px;
  }
  
  .imgDiv {
    height: 220px;
  }
  
  .imgConfig {
    height: 200px;
    width: 300px;
  }
  
  .balanceModal {
    height: 50px;
  }
  
  @media screen and (max-width: 1030px) {
  
    .section2Size {
      height: 400px;
    }
  
    .imgDiv {
      display: none;
    }
  
    .modalSize {
      width: 200px;
      height: 200px;
    }
  
    .balanceDiv {
      height: 0px;
    }
  
    .balanceModal {
      height: 10px;
    }
  
  }
  
  @media screen and (max-width: 600px) {
    .section2Size {
      height: 1000px;
    }
  
    .imgDiv {
      display: none;
    }
  
    .modalSize {
      width: 200px;
      height: 200px;
    }
  
    .balanceDiv {
      height: 0px;
    }
  
    .balanceModal {
      height: 10px;
    }
  
    .modalParentDiv {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 800px;
  
    }
  
  }
  
  [data-theme="dark"] .section2Size{
    background-color: #0E0C20;
  }
  
  [data-theme="dark"] .modalSize{
    background-color: #7D7B9B;
  }
  
  [data-theme="dark"] .modalSize:hover{
    background-color: #615E8D;
  }

.footerDiv{
    height: 300px;
}

[data-theme="light"] .footerDiv{
    background-color: #2F2E41;
}

[data-theme="dark"] .footerDiv{
    background-color: #201B48;
}

[data-theme="light"] .footerLogoDiv{
    background-color: black;
}

[data-theme="dark"] #logoImg{
    @apply brightness-0 invert
}

