@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #F9F8F8;
}

html[data-theme="dark"] {
    background: #0E0C20;
}

body {
    background: linear-gradient(rgba(72, 64, 205, 0.3), rgba(158, 156, 156, 0));
    @apply font-nunito;
}

[data-theme="dark"] body {
    background: linear-gradient(rgba(16, 0, 163, 0.3), rgba(14, 12, 32, 0));
}

h1{ 
  text-align: center; 
  font-size: 50px;
} 

.semi{ 
  position: absolute; 
  top: 60%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  height: 700px; 
  width: 1400px; 
  border-radius: 700px 700px 0 0; 
  border: 1px dashed gray; 
  border-bottom-color: transparent; 
} 

.NFT{ 
  position: absolute;
  display: block; 
  margin-left: 45%; 
  height: 150px;
} 

#wallet{ 
  margin-left: 7%;
  margin-top: 20%;
  float: left; 
  height: 150px;
} 
#grow {
    margin-top: 20%;
    margin-right: 7%;
    float: right;
}

.label span {
    @apply text-lg;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}