[data-theme='dark'] .membersTableBg {
  background: linear-gradient(
    180deg,
    #201b48 0%,
    #1e184e 0%,
    rgba(30, 24, 78, 0.31) 100%
  );
}

.borderColor {
  border-color: rgba(0, 0, 0, 0.6);
  border-width: 0.7px;
}

[data-theme='dark'] .borderColor {
  border-color: rgba(255, 255, 255, 0.6);
}

.distributeBtn {
  background: rgba(0, 208, 58, 0.3);
  color: #00d03a;
}

.distributeBtn:hover {
  background: rgba(0, 208, 58, 0.3);
}

.membersList:hover {
  background: rgba(217, 217, 217, 0.2);
  cursor: pointer;
}

[data-theme='dark'] .th {
  background: #1a1649;
}

.th {
  position: sticky;
  top: 0%;
  background: #d5d3eb;
}

.th::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] .th::after {
  border-bottom: 0.5px dashed #e6e6e6;
}

/*width*/
.membersTableBg::-webkit-scrollbar {
  width: 8px;
}

/*track color*/
.membersTableBg::-webkit-scrollbar-track {
  background: transparent;
}


.membersTableBg::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}
.membersTableBg::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 91, 91);
}

/* Handle */
[data-theme='dark'] .membersTableBg::-webkit-scrollbar-thumb {
  background: #443d93;
  border-radius: 5px;
}

/* Handle on hover */
[data-theme='dark'] .membersTableBg::-webkit-scrollbar-thumb:hover {
  background: #4f47a7;
}
