.halfBorderBottom {
  padding-bottom: 4px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #3F3D56 50%, transparent 50%) 100% 1;
}

[data-theme="dark"] .halfBorderBottom {
  border-image: linear-gradient(to right, #E4E4E4 50%, transparent 50%) 100% 1;
}
