.walletsList li {
  @apply border-b-[1px] border-base-content;
}

.walletsList li:first-child {
  @apply rounded-t-lg;
}

.walletsList li:last-child {
  @apply border-none rounded-b-lg;
}

.walletsList li:hover {
  @apply bg-[#9996CD];
}

[data-theme='dark'] .walletsList li:hover {
  @apply bg-[#201B48];
}

.walletsList li a {
  @apply flex flex-col justify-start items-start p-6;
  @apply sm:flex-row sm:justify-between sm:items-center;
}
